.mat-toolbar{
    background-color: transparent;
    color: #fff;
    width: 100%;
}
.icon-button i.material-icons{
    font-size: 30px;
}
.app-logo{
    text-align: center;
}
h2{
    font-size: larger;
}