<md-toolbar color="primary">
    <div class="col-xs-12 no-padding">
        <div class="col-xs-1 hidden-lg hidden-md no-padding">
            <button type="button" class="icon-button" md-button (click)="openSideNav()">
                <i class="material-icons">menu</i>
            </button>
        </div>
        <div class="col-xs-10 col-md-12 no-padding text-center app-logo">
            <h2>Gbedu</h2>
        </div>
        <div class="col-xs-1 hidden-lg hidden-md no-padding">
            <button type="button" class="icon-button" md-button (click)="openSideNav()">
                <i class="material-icons">search</i>
            </button>
        </div>
    </div>
</md-toolbar>