<div class="container-fluid">
    <div class="col-xs-12">
        <div *ngIf="isLoading === true; then loading else music">
        </div>
    </div>

    <!--<div class="col-xs-12">
            <a [routerLink]="['/']" class="router-link">
                <h2 class="heading">Playlists</h2>
            </a>
            <div *ngIf="isLoading === true; then loading else playlist">
            </div>
    </div>-->
    
</div>

<ng-template #loading>
    <div class="aligner">
        <md-spinner class="spinner"></md-spinner>         
    </div> 
</ng-template>

<ng-template #music>
     <a [routerLink]="['/']" class="router-link">
            <h2 class="heading">Hot Tracks</h2>
        </a>
    <div class="containerX">
        <div fxLayout="row wrap">
            <div fxFlex.xs="50%" 
                fxFlex.md="33.33%" 
                fxFlex.lg="25%"
                fxFlex.xl="20%"
                class="song-div"
                *ngFor="let r of randSongs;let i = index"> 
                <song-item [song]="r"></song-item>     
            </div>
        </div>
    </div>
</ng-template>

<!--<ng-template #playlist>
        <div class="containerX">
            <div fxLayout="row wrap">
                <div fxFlex.xs="50%" 
                    fxFlex.md="33.33%" 
                    fxFlex.lg="25%"
                    fxFlex.xl="20%"
                    class="song-div"
                    *ngFor="let p of playlistSongs;let i = index"> 
                    <song-item [song]="r"></song-item>     
                </div>
            </div>
        </div>
</ng-template>-->