<h2 md-dialog-title>
    <button type="button" class="icon-button" md-button (click)="closeModal()">
        <i class="material-icons">keyboard_arrow_left</i>
    </button>
</h2>
<div class="col-xs-12 no-padding">
    <img src="{{song.image}}" class="img-responsive" />
    <!--area for lyrics-->
</div>
<div class="col-xs-12 no-padding bottom-player" >
  <md-progress-bar
          class="example-margin"
          [color]="warn"
          [mode]="determinate"
          [value]="50"
          [bufferValue]="75">
  </md-progress-bar>

  <div class="col-xs-12" style="text-align:center;margin-top:30px">
        <player-controls></player-controls>
  </div>
</div>