// component css goes here
img{
    width: 100%;
}
button.icon-button i{
    font-size: 40px;
}
div.bottom-player {
    position: absolute;
    bottom: 0px;
    height: 100px;
}
.example-margin {
  margin: 0 10px;
}

button.icon-button i{
    font-size: 30px!important;
}