.music-card{
    /*height: 230px!important;*/
    min-height: 230px !important;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.music-card img{
    height: auto;
    max-height: 150px;
    min-height: 150px;
}

@media (min-width: 992px) {
    .music-card img{
        max-height: 300px;
        min-height: 300px;
    }
}

@media (min-width: 768px) {
    .music-card img{
        max-height: 300px;
        min-height: 300px;
    }
}

.song-title{
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
}

.song-artiste{
    margin:0px;
    /*text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;*/
}